[Unit]
Description=ActivityWatch window watcher
After=activitywatch.service graphical-session.target
Wants=activitywatch.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/activitywatch/aw-watcher-window/aw-watcher-window
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
